.nav {
  height: auto;
  position: fixed;
  right: 28px;
  top: 28px;
  z-index: 1501;
}
.nav-li {
  width: 120px;
  height: 40px;
  position: relative;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.06s linear 0s;
}
