.nav {
  height: auto;
  position: fixed;
  right: 28px;
  top: 28px;
  z-index: 1;
}
.nav-li {
  width: 120px;
  height: 40px;
  position: relative;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.06s linear 0s;
  &{
    margin-bottom: 28px;
  }
}
.left-corner,
.right-corner {
  position: absolute;
  width: 12px;
  height: 12px;
  & > div {
    width: 12px;
    height: 12px;
    position: absolute;
  }
}
.left-corner {
  left: -2px;
  top: -2px;
  & > div {
    left: 4px;
    top: 4px;
  }
}
.right-corner {
  right: -2px;
  bottom: -2px;
  & > div {
    left: -4px;
    top: -4px;
  }
}

.nav-light {
  background: #cccccc;
  .nav-text {
    color: #383738;
  }
  .left-corner,
  .right-corner {
    background: #383738;
    & > div {
      background: #cccccc;
    }
  }
}
.nav-deep{
  background: #323232;
  .nav-text {
    color: #ffffff;
  }
  .left-corner,
  .right-corner {
    background: #ffffff;
    & > div {
      background: #323232;
    }
  }
}
